/* ---------------- BACKGROUND */
$color__background-body: rgb(32,32,32);
$color__background-body-clip: rgb(0,0,0);
$color__background-main : rgb(0,128,192);
$color__background-cours : rgb(0,192,255);
$color__background-header : rgb(255,255,255);
$color__background-barre : rgba(64,64,64,0.5);
$color__background-footer : rgba(255,255,255,0.25);
$color__background-link : rgba(64,64,64,0);
$color__background-link-hover : rgb(32,32,32);

/* ---------------- LIENS */
$color__link : rgb(0,64,128);
$color__link-hover : rgb(255,255,255);
$color__link-visited : rgb(0,128,128);
/* ---------------- LIENS FOOTER */
$color__link__footer : rgb(0,64,128);
$color__link__footer-hover : rgb(255,255,255);
$color__link__footer-visited : rgb(0,128,128);
/* ---------------- LIENS DU MENU FOOTER*/
$color__link__footer__menu : rgb(255,255,255);
$color__link__footer__menu-visited: rgb(0,192,255);
$color__link__footer__menu-hover:rgb(0,255,255);
$background__link__footer__menu: rgba(0,0,0,0.25);
$background__link__footer__menu-visited: rgb(0,0,0); 
$background__link__footer__menu-hover:  rgb(32,32,32);
/* ---------------- LIENS DU MENU PRINCIPAL*/
$color__link__principal__menu : rgb(255,255,255);
$color__link__principal__menu-visited: rgb(128,128,128);
$color__link__principal__menu-hover:rgb(0,255,255);
$background__link__principal__menu: rgba(64,64,64,0);
$background__link__principal__menu-visited: rgb(0,0,0); 
$background__link__principal__menu-hover: rgb(32,32,32);

/* ---------------- LIENS HEADER - titre principal du site */
$color__link__header : rgb(255,255,255);
$color__link__header-hover : rgb(0,192,255);
$color__link__header-visited : rgb(255,255,255);

/* ---------------- FONT */
$color__font-header : rgb(0,0,0);
$color__font-main :rgb(255,255,255);
$color__font-barre : rgb(255,255,255);
$color__font-footer : rgb(255,255,255);
$color__font-404: rgb(192,0,0);
$color__font-cours-sigle: rgb(0,0,0);
$color__font-article: rgb(255,255,255);
$color__font-article-contenu: rgb(240,240,240);

/* ---------------- RECHERCHE */
$color__icone-recherche : rgb(0,0,0);

/* --------------  Bouton / lien menu */
$color__bouton__color : rgb(64,64,64);
$color__bouton__background : rgba(0,192,255,0.5);
$color__bouton__color--hover :rgb(0,255,255);
$color__bouton__background--hover :rgba(0,0,0,0.5);
$color__bouton__color--current : rgb(0,192,255);
$color__bouton__background--current : rgba(0,0,0,0.5);

/* ---------------- BOÎTE MODALE */
$color__background__boite: rgba(0,0,0,0.5)