/* ---------------- BACKGROUND */
$color__background-body: rgb(64,64,64);
$color__background-body-clip: rgb(96,96,96);
$color__background-main : rgb(0,128,192);
$color__background-cours : rgb(0,192,255);
$color__background-header : rgb(0,192,192);
$color__background-barre : rgb(64,64,64);
$color__background-footer : rgb(0,128,128);
$color__background-link : hsl(229, 64%, 70%);
$color__background-link-hover : hsl(236, 64%, 44%);

/* ---------------- LIENS */
$color__link : hsl(18, 27%, 38%);
$color__link-hover : hsl(0, 0%, 100%);
$color__link-visited : hsl(19, 29%, 28%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(0, 91%, 50%);
$color__link__footer-hover : hsl(123, 80%, 49%);
$color__link__footer-visited : hsl(231, 84%, 50%);
/* ---------------- LIENS DU MENU FOOTER*/
$color__link__footer__menu : #fff;
$color__link__footer__menu-visited: #bbb;
$color__link__footer__menu-hover:#0f0;
$background__link__footer__menu: rgb(50, 122, 170);
$background__link__footer__menu-visited: rgb(120, 120, 173); 
$background__link__footer__menu-hover: rgb(160, 146, 199);
/* ---------------- LIENS  DU MENU PRINCIPAL*/
$color__link__principal__menu : rgb(255,255,255);
$color__link__principal__menu-visited: rgb(128,128,128);
$color__link__principal__menu-hover:rgb(0,255,255);
$background__link__principal__menu: rgb(64,64,64);
$background__link__principal__menu-visited: rgb(32,32,32); 
$background__link__principal__menu-hover: rgb(16,16,16);

/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : hsl(0, 82%, 68%);
$color__link__header-hover : hsl(123, 63%, 72%);
$color__link__header-visited : hsl(261, 62%, 56%);

/* ---------------- FONT */
$color__font-header : rgb(0,0,0);
$color__font-main :rgb(255,255,255);
$color__font-barre : rgb(255,255,255);
$color__font-footer : rgb(255,255,255);
$color__font-404: rgb(192,0,0);
$color__font-cours-sigle: rgb(0,0,0);
$color__font-article: rgb(255,255,255);
$color__font-article-contenu: rgb(240,240,240);

/* ---------------- RECHERCHE */
$color__icone-recherche : rgb(0,0,0);