$font__main : 'Montserrat', sans-serif;
$font__titre : 'Montserrat', sans-serif;

$font__principal : 'Montserrat', sans-serif;
$font__secondaire : 'Montserrat', sans-serif;
$font__paragraphe_1 : 'Montserrat', sans-serif;
$font__paragraphe_2 : 'Montserrat', sans-serif;