.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    padding: 15px;
    animation: anim_Footer 1s forwards;

    &__menu{ // .site__footer__menu

      &__ul{ // .site__footer__menu__ul
          display : flex;
          list-style-type: none;
          justify-content: center;
          .menu-item { // .site__footer__menu__ul .menu-item
              margin : 10px 5px;
            a{ // .site__footer__menu__ul .menu-item a
              display : flex;
              align-items: center;
              padding : 3px;
              
            }
          }    
       }
    }
  }

.footer__titre,
.footer__presentation,
.footer__author {
  color: $color__font-footer;
  text-align: right;
  text-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
}

.site__footer {
  display: flex;
  flex-direction: column;

  &__colonne {
    display: flex;
    justify-content: center;

    section {
      display: flex;
      flex-direction: column;
      flex: 0 0 33.33%;
    }
    .footer__article {
      box-shadow: 0 0 4rem rgba(255,255,255,0.5) inset /* , 0 0 1rem rgba(0,0,0,0.5) */;
    } 

    .footer__liens {
      box-shadow: 0 0 4rem rgba(255,255,255,0.5) inset /* , 0 0 1rem rgba(0,0,0,0.5) */;
    }

    .footer__adresse {
      box-shadow: 0 0 4rem rgba(255,255,255,0.5) inset /* , 0 0 1rem rgba(0,0,0,0.5) */;
    }
  }

  &__ligne {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@keyframes anim_Footer {
  from {
      transform: translateX(-100%);
  }
  
  50% {
      transform: translateX(-100%);
  }

  to {
      transform: translateX(0%);
  }
}