.site__header {
    display: flex;
    flex-direction: column;
    background-color: $color__background-header;
    color: $color__font-header;
    padding-left: 2rem;
    text-shadow: 0 0 0.25rem rgba(0,0,0,0.5);
    animation: anim_Header 1s forwards;

    @media screen and (min-width: 700px) {
      flex-direction: row;
    }
    &__titre {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header__titre {
      font-size: clamp(2rem, 2vw, 4rem);
      font-family: $font__titre;
      padding: 0 2rem;
    }
    .header__description {
      font-size: clamp(1rem, 2vw, 2rem);
      font-family: $font__main;
      color: $color__font-header;
      padding-left: 10px;
    }
}

.util{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
      margin-left : auto;
    }
}

@keyframes anim_Header {
  from {
      transform: translateX(-100%);
  }
  
  25% {
      transform: translateX(-100%);
  }

  75% {
      transform: translateX(0%);
  }

  to {
      transform: translateX(0%);
  }
}