
#burger {
    position : absolute;
    transition : transform .3s;
    transform : rotate(0);
    top: 10px;
    left: 10px;
}

#chk-burger {
    display : none;
}

#chk-burger:checked ~ #burger {
    transform : rotate(90deg);
}
.menu-principal-container {
    display : none;
}
#chk-burger:checked ~ .menu-principal-container{
    display : block;
}


.menu-principal-container{}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-item{
    margin: 0;
    padding: 0;
    text-shadow: 0 0.1rem 0.25rem rgba(0,0,0,0.5);
    a{
        display : block;
        text-decoration: none;
        padding: 0.75rem;
        border-radius: 1rem;
        
        &:hover {
            padding: 1rem;
            transition: padding 0.25s;
        }
    }
}

@media screen and (min-width : $largeur__media--tablette){
    #burger {
        display : none;
    }
    .menu-principal-container {
        display : block;
    }

}








