.menu-accueil-container,
.menu-evenement-container,
.menu-atelier-container { // nav

    .menu { // ul

        display : flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        /* .accueil__cours .menu-item-icone{//li
            background-image: url('https://s2.svgbox.net/octicons.svg?ic=file-badge-bold');
        } */
        .accueil__prof .menu-item-icone{ // li
        }
        .accueil__aide .menu-item-icone{ //li
        }
        .accueil__etudiant .menu-item-icone{ //li
        }

        .accueil__html-css .menu-item-icone {
            background-image: url('https://s2.svgbox.net/files.svg?ic=html');
        }
        .accueil__introduction-a-git .menu-item-icone {
            background-image: url('https://s2.svgbox.net/files.svg?ic=git');
        }
        .accueil__introduction-a-react .menu-item-icone {
            background-image: url('https://s2.svgbox.net/files.svg?ic=reactjs');
        }
        .accueil__css-avance .menu-item-icone {
            background-image: url('https://s2.svgbox.net/files.svg?ic=css');
        }


        .menu-item { // li
            display : flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            background-color: $color__bouton__background;
            flex : 0 0 20%;
            width: 10rem;
            height : 10rem;
            border: 0.25rem solid rgb(255,255,255);
            box-shadow: 0 0 1rem rgba(255,255,255,0.5);
            text-shadow: 0 0 1rem rgba(0,0,0,1);
            transition: box-shadow text-shadow scale;
            transition-duration: 0.5s;
            transform: scale(1.0);
            
            a{
                display : flex;
                flex-direction: column;
                align-items: center;
                font-size: clamp(1.5rem, 2vw, 3rem);
                color: $color__font-main;
                height : 100%;

                .menu-item-description { // span
                    font-size: clamp(0.75rem, 1.5vw, 1rem);

                }
                .menu-item-icone{
                    width : 2rem;
                    height : 2rem;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    margin-top : auto;
                }
            }
            &:hover {
                border: 0.25rem solid rgb(0,255,255);
                box-shadow: 0 0 1rem rgba(0,255,255,0.5);
                transform: scale(1.1);
            }
        }


    }

}  // fin .menu-accueil-container


.menu-accueil-container {
    
}