
#burger {
    z-index: 100;
}

#chk-burger {
    display : none;
}

.menu-principal-container {
    display : none;
}
#chk-burger:checked ~ .menu-principal-container{
    display : block;
}


.menu-principal-container{
    
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-item{
    margin: 0;
    padding: 0;
    text-shadow: 0 0.1rem 0.25rem rgba(0,0,0,0.5);
    border-bottom: 0.1rem solid rgb(0,0,0);
    a {
        display : block;
        text-decoration: none;
        padding: 1rem 0.5rem;
        transition: padding;
        transition-duration: 0.25s; 
        &:hover {
            padding: 1.5rem 0.5rem;
        }
    }
}

@media screen and (min-width : $largeur__media--tablette){
    #burger {
        display : none;
    }
    .menu-principal-container {
        display : block;
    }

}








