// Il y a des bordures grises autour des barres de recherche. Je ne sais pas comment les éliminer.

.recherche{
    background-color: rgba(0,0,0,0.5);
    border: 0.25rem solid rgb(0,192,255);
    width : 25rem;
    position : relative;
    &__input{
        background-color: transparent;
        width : 100%;
        &:focus {
            background-color: rgba(0,0,0,0.5);
        }
    }

    &__bouton{
        position : absolute;
        top:0;
        right:0;
        display : flex;
        align-items: center;
        justify-content: center;
        background: none;
        svg {
            color: $color__icone-recherche;
        }
    }

}